<body>
  <div class="page">
    <header class="vc-header" [class.hide-header]="hideHeader" [class.header-bg]="headerBackground">
      <div class="menu-overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>

      <aside class="side-menu" [class.open]="menuOpen">
        <div class="menu-header">
          <button class="close-btn" (click)="closeMenu()">✕</button>
        </div>

        <ul class="menu-items">
          <li (click)="goToNovidades(); closeMenu()">NOVIDADES <span>•</span></li>
          <li>ROUPAS <span>•</span></li>
          <li>ACESSÓRIOS <span>•</span></li>
          <li>ESTILOS <span>•</span></li>
        </ul>

        <div class="menu-footer">
          <div>
            <p>Entrega</p>
            <p>Devolução e Troca</p>
            <p (click)="goToNovidades(); closeMenu()">Receber Novidades</p>
          </div>

          <div>
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Encomendar</p>
          </div>
        </div>
      </aside>

      <div class="vc-header-inner">
        <div class="vc-left">
          <img src="assets/logo.svg" alt="Vovó Crochê" class="vc-logo" (click)="goHome()" />
          <button class="icon-btn menu-btn" (click)="openMenu()">
            <img src="assets/menu_hamburguer.svg" alt="menu" />
          </button>
          <nav class="vc-nav">
            <a href="#destaque">Destaque</a>
            <a href="#destaque">Masculino</a>
            <a href="#destaque">Feminino</a>
            <a href="#destaque">Infantil</a>
            <a href="#encomendar">Encomendar</a>
          </nav>
        </div>
        <div class="vc-right">
          <div class="search-container" [class.open]="searchOpen">
            <button class="icon-btn search-btn" (click)="toggleSearch()">
              <img src="assets/Buscar.svg" alt="buscar" />
            </button>
            <input type="text" placeholder="Buscar" class="search-input" />
          </div>
          <button class="icon-btn cart-btn">
            <img src="assets/sacola.svg" alt="sacola" />
            <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
          </button>
          <button class="icon-btn profile-btn">
            <img src="assets/profile.svg" alt="perfil" />
          </button>
        </div>
      </div>
    </header>

    <main class="product-detail-main">
      <div class="breadcrumb">
        <span (click)="goHome()" class="breadcrumb-link">Página Inicial</span>
        <span class="separator">/</span>
        <span>Bolsas</span>
        <span class="separator">/</span>
        <span class="current">{{ product?.name }}</span>
      </div>

      <div class="product-container" *ngIf="product">
        <div class="product-gallery">
          <div class="thumbnails">
            <div *ngFor="let image of product.images; let i = index" class="thumbnail"
              [class.active]="selectedImage === image" (click)="selectImage(image)">
              <img [src]="image" [alt]="'Thumbnail ' + (i + 1)" />
            </div>
          </div>

          <div class="main-image" (click)="toggleZoom($event)" (mousemove)="moveZoom($event)">
            <img [src]="selectedImage" [alt]="product.name" [class.zoomed]="zoomActive"
              [style.transform]="zoomTransform" />
          </div>
        </div>
        <div class="product-details">
          <h1 class="product-title">{{ product.name }}</h1>

          <p class="product-category">{{ product.category }}</p>

          <p class="product-price">R$ {{ product.price.toFixed(2).replace('.', ',') }}</p>

          <div class="newsletter-box">
            <p class="newsletter-text">
              <span class="highlight">Coloque o e-mail para receber novidades dos produtos.
                Vovó Crochê
                e <b>ganhe 5% de desconto</b> com o cupom <b>PRIMEIRACOMPRA</b>. </span>
              <a href="#" class="discount-link">Receber desconto</a>
            </p>
          </div>

          <a href="#" class="table-link">Tabela de medidas</a>

          <div class="action-section">
            <button class="add-to-cart-btn" (click)="addToCart()">
              Adicionar à Sacola
            </button>
            <img src="assets/check.svg" alt="check" class="stock-icon">
            <span class="in-stock">Em estoque</span>
          </div>
        </div>
      </div>

      <div class="product-extra" *ngIf="product">

        <div class="tabs">
          <span class="tab" [class.active]="activeTab === 'delivery'" (click)="setTab('delivery')">
            Entrega
          </span>

          <span class="tab" [class.active]="activeTab === 'description'" (click)="setTab('description')">
            Descrição
          </span>
        </div>

        <!-- ENTREGA -->
        <div class="tab-content" *ngIf="activeTab === 'delivery'">

          <div class="cep-box">
            <input type="text" placeholder="Digite seu cep" class="cep-input" />

            <span class="calculate-btn" (click)="calculateFreight()">
              Calcular
            </span>
          </div>

          <p class="unknown-cep">
            Não sei meu CEP
          </p>

        </div>


        <!-- DESCRIÇÃO -->
        <div class="tab-content" *ngIf="activeTab === 'description'">
          <p class="description-text">
            {{ product.description }}
          </p>
        </div>

      </div>
    </main>
    <section class="suggestions-section">
      <h2 class="suggestions-title">Você também pode gostar</h2>

      <div class="products">


        <!-- Produto 1 -->
        <div class="product-card" (click)="goToProduct(6)" (dblclick)="likeProduct(0)">

          <div class="product-image">

            <img src="assets/bolsa_verde_escuro.svg" />
            <button class="add-cart-btn" (click)="addToCart(); $event.stopPropagation()">
              <img src="assets/add_product.svg" alt="Adicionar">
            </button>

            <div class="heart" [class.show]="likedIndex === 0">
              <img src="assets/heart.svg">
            </div>

          </div>

          <div class="product-info">
            <h3>Bolsinha laranja</h3>
            <p class="category">Franjinha</p>
            <p class="price">R$ 64<span class="cents">.99</span></p>
          </div>

        </div>


        <!-- Produto 2 -->
        <div class="product-card" (click)="goToProduct(4)" (dblclick)="likeProduct(1)">

          <div class="product-image">

            <img src="assets/bolsa_roxa.svg" />

            <button class="add-cart-btn" (click)="addToCart(); $event.stopPropagation()">
              <img src="assets/add_product.svg">
            </button>

            <div class="heart" [class.show]="likedIndex === 1">
              <img src="assets/heart.svg">
            </div>

          </div>

          <div class="product-info">
            <h3>Bolsinha amarela</h3>
            <p class="category">Franjinha</p>
            <p class="price">R$ 64<span class="cents">.99</span></p>
          </div>

        </div>


        <!-- Produto 3 -->
        <div class="product-card" (click)="goToProduct(7)" (dblclick)="likeProduct(2)">

          <div class="product-image">

            <img src="assets/bolsa_vermelha.svg" />

            <button class="add-cart-btn" (click)="addToCart(); $event.stopPropagation()">
              <img src="assets/add_product.svg">
            </button>

            <div class="heart" [class.show]="likedIndex === 2">
              <img src="assets/heart.svg">
            </div>

          </div>

          <div class="product-info">
            <h3>Bolsinha azul</h3>
            <p class="category">Franjinha</p>
            <p class="price">R$ 64<span class="cents">.99</span></p>
          </div>

        </div>


        <!-- Produto 4 -->
        <div class="product-card" (click)="goToProduct(5)" (dblclick)="likeProduct(3)">

          <div class="product-image">

            <img src="assets/bolsa_verde.svg" />

            <button class="add-cart-btn" (click)="addToCart(); $event.stopPropagation()">
              <img src="assets/add_product.svg">
            </button>

            <div class="heart" [class.show]="likedIndex === 3">
              <img src="assets/heart.svg">
            </div>

          </div>

          <div class="product-info">
            <h3>Bolsinha laranja</h3>
            <p class="category">Franjinha</p>
            <p class="price">R$ 64<span class="cents">.99</span></p>
          </div>

        </div>

      </div>
    </section>
    <section class="final-footer">

      <div class="footer-top">

        <div class="footer-col">
          <h4>COMPRAR</h4>
          <a>Destacados</a>
          <a routerLink="/receber-novidades">Novidades</a>
          <a>Encomendar</a>
        </div>

        <div class="footer-col">
          <h4>AJUDA</h4>
          <a>Entrega</a>
          <a>Devolução e Troca</a>
        </div>

        <div class="footer-col">
          <h4>REDE</h4>
          <a href="https://www.instagram.com/vovocrochet/" target="_blank" rel="noopener noreferrer">Instagram</a>
          <a href="https://www.facebook.com/ednea.correia" target="_blank" rel="noopener noreferrer">Facebook</a>
        </div>

      </div>

      <div class="footer-brand">
        Vovó Crochê
      </div>

      <div class="footer-copy">
        © 2025 Vovó Crochê
      </div>

    </section>
  </div>
</body>