<body>
    <div class="page">
        <!-- HEADER copied from app.component.html -->
        <header class="vc-header" [class.hide-header]="hideHeader" [class.header-bg]="headerBackground">
            <div class="menu-overlay" [class.active]="menuOpen" (click)="closeMenu()"></div>

            <aside class="side-menu" [class.open]="menuOpen">
                <div class="menu-header">
                    <button class="close-btn" (click)="closeMenu()">✕</button>
                </div>

                <ul class="menu-items">
                    <li (click)="goToNovidades(); closeMenu()">NOVIDADES <span>•</span></li>
                    <li (click)=" closeMenu()">PROMOÇÕES <span>•</span></li>
                    <li>ROUPAS <span>•</span></li>
                    <li>ACESSÓRIOS <span>•</span></li>
                    <li>ESTILOS <span>•</span></li>
                </ul>

                <div class="menu-footer">
                    <div>
                        <p>Entrega</p>
                        <p>Devolução e Troca</p>
                        <p (click)="goToNovidades(); closeMenu()">Receber Novidades</p>
                    </div>

                    <div>
                        <p>Instagram</p>
                        <p>Facebook</p>
                        <p>Encomendar</p>
                    </div>
                </div>
            </aside>

            <div class="vc-header-inner">
                <div class="vc-left">
                    <img src="assets/logo.svg" alt="Vovó Crochê" class="vc-logo" />
                    <button class="icon-btn menu-btn" (click)="openMenu()">
                        <img src="assets/menu_hamburguer.svg" alt="menu" />
                    </button>
                    <nav class="vc-nav">
                        <!-- Destaque -->
                        <div class="nav-item">
                            <a href="#destaque">Destaque</a>

                            <div class="mega-menu">
                                <div class="mega-col">
                                    <h4>Mais procurados</h4>
                                    <a>Novidades</a>
                                    <a>Mais vendidos</a>
                                    <a routerLink="/category/promocoes">Promoções</a>
                                </div>

                                <div class="mega-col">
                                    <h4>Categorias</h4>
                                    <a>Bolsas</a>
                                    <a>Roupas</a>
                                    <a>Acessórios</a>
                                </div>
                            </div>
                        </div>

                        <!-- Masculino -->
                        <div class="nav-item">
                            <a>Masculino</a>

                            <div class="mega-menu">
                                <div class="mega-col">
                                    <h4>Bolsas</h4>
                                    <a>Transversal</a>
                                    <a>Mochila</a>
                                    <a>Carteira</a>
                                </div>

                                <div class="mega-col">
                                    <h4>Roupas</h4>
                                    <a>Casaco</a>
                                    <a>Camiseta</a>
                                    <a>Conjunto</a>
                                </div>
                            </div>
                        </div>

                        <!-- Feminino -->
                        <div class="nav-item">
                            <a>Feminino</a>

                            <div class="mega-menu">
                                <div class="mega-col">
                                    <h4>Bolsas</h4>
                                    <a>Franjinha</a>
                                    <a>Bolsa grande</a>
                                    <a>Bolsa pequena</a>
                                </div>

                                <div class="mega-col">
                                    <h4>Acessórios</h4>
                                    <a>Tiara</a>
                                    <a>Chaveiro</a>
                                    <a>Carteira</a>
                                </div>
                            </div>
                        </div>

                        <!-- Infantil -->
                        <div class="nav-item">
                            <a>Infantil</a>

                            <div class="mega-menu">
                                <div class="mega-col">
                                    <h4>Produtos</h4>
                                    <a>Bolsa infantil</a>
                                    <a>Gorro</a>
                                    <a>Conjunto</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="vc-right">
                    <div class="search-container" [class.open]="searchOpen">

                        <button class="icon-btn search-btn" (click)="toggleSearch()">
                            <img src="assets/Buscar.svg" alt="buscar" />
                        </button>

                        <input type="text" placeholder="Buscar" class="search-input" />

                    </div>
                    <button class="icon-btn cart-btn">
                        <img src="assets/sacola.svg" alt="sacola" />
                    </button>
                    <button class="icon-btn profile-btn">
                        <img src="assets/profile.svg" alt="perfil" />
                    </button>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT -->
        <main>
            <!-- category headline -->
            <section class="destaque" id="destaque">

                <div class="destaque-header">

                    <h2>{{ categoryTitle }} <span>({{ products.length }})</span></h2>

                    <div class="actions">

                        <!-- FILTRO -->
                        <div class="action-wrapper">
                            <button (click)="toggleFilter()" class="action-btn">
                                Filtros
                                <img src="assets/filter-icon.svg">
                            </button>

                            <div class="filter-card" *ngIf="filterOpen">
                                <h3 class="filter-title">Filtros</h3>

                                <div class="filter-group">
                                    <label>Categorias</label>
                                    <select>
                                        <option>Todas</option>
                                        <option>Franjinha</option>
                                        <option>Clássica</option>
                                        <option>Natural</option>
                                        <option>Premium</option>
                                    </select>
                                </div>

                                <div class="filter-group">
                                    <label>Valor</label>

                                    <div class="price-range">
                                        <span>R$ 80</span>
                                        <span>R$ 230</span>
                                    </div>

                                    <input type="range" min="0" max="100">
                                </div>

                                <div class="filter-group">
                                    <label>Cor</label>

                                    <div class="colors">
                                        <button class="color">Verde</button>
                                        <button class="color">Verde</button>
                                        <button class="color">Verde</button>
                                        <button class="color">Verde</button>
                                    </div>
                                </div>

                                <div class="filter-actions">
                                    <button class="clear-btn">Limpar filtros</button>
                                    <button class="apply-btn">Aplicar</button>
                                </div>
                            </div>
                        </div>

                        <!-- ORDENAR -->
                        <div class="action-wrapper">
                            <button (click)="toggleSort()" class="action-btn">
                                Ordenar por
                                <svg viewBox="0 0 24 24">
                                    <path d="M6 9l6 6 6-6" />
                                </svg>
                            </button>

                            <div class="sort-card" *ngIf="sortOpen">
                                <button class="sort-option selected">Mais relevantes</button>
                                <button class="sort-option">Maior preço</button>
                                <button class="sort-option">Menor preço</button>
                                <button class="sort-option">A-Z</button>
                                <button class="sort-option">Z-A</button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="products">
                    <!-- Produto 1 -->
                    <div class="product-card" *ngFor="let prod of products; let i = index" (dblclick)="likeProduct(i)"
                        (click)="goToProduct(prod.id)">
                        <div class="product-image">
                            <img [src]="prod.image" />
                            <button class="add-cart-btn" (click)="addToCart(); $event.stopPropagation()">
                                <img src="assets/add_product.svg" alt="Adicionar" />
                            </button>
                            <div class="heart" [class.show]="likedIndex === i">
                                <img src="assets/heart.svg" alt="coração" />
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>{{ prod.name }}</h3>
                            <p class="category">{{ prod.category }}</p>
                            <p class="price">R$ {{ prod.price }}<span class="cents">.00</span></p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <section class="final-footer">

            <div class="footer-top">

                <div class="footer-col">
                    <h4>COMPRAR</h4>
                    <a>Destacados</a>
                    <a>Novidades</a>
                    <a>Encomendar</a>
                </div>

                <div class="footer-col">
                    <h4>AJUDA</h4>
                    <a>Entrega</a>
                    <a routerLink="/receber-novidades">Receber Novidades</a>
                    <a>Devolução e Troca</a>
                </div>

                <div class="footer-col">
                    <h4>REDE</h4>
                    <a href="https://www.instagram.com/vovocrochet/" target="_blank"
                        rel="noopener noreferrer">Instagram</a>
                    <a href="https://www.facebook.com/ednea.correia" target="_blank"
                        rel="noopener noreferrer">Facebook</a>
                </div>

            </div>

            <div class="footer-brand">
                Vovó Crochê
            </div>

            <div class="footer-copy">
                © 2025 Vovó Crochê
            </div>

        </section>
    </div>
</body>